.botonSpecial{
    color: black;
    text-decoration: none;
    text-align: center;
 }
 .botonSpecial:visited
 {
    color: black;
    text-decoration: none;
 }
 .botonSpecial:hover
 {
    color: black;
    text-decoration: none;
 }
 .botonSpecial:active
 {
    color: black;
    text-decoration: none;
 }