.centered {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formBody{
    max-width: 330px;
    width: 100%;
    text-align: center;
}
.ancho{
    width: 100%;
}