<p>login works!</p>
<form [formGroup]="formulario" (ngSubmit)="formAction()">

    <div>
        <input type="text" formControlName="email" placeholder="Email">
    </div>

    <div>
        <input type="text" formControlName="contra" placeholder="password">
    </div>

    <div>
        <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid" >{{isLoginMode ? "Iniciar sesion" : "Registrarse"}}</button>
    </div>

    <div>
        <button class="btn btn-primary" (click)="onSwitchMode()" type="button">cambiar a {{isLoginMode ? 'Registrarse' : 'Iniciar sesion'}}</button>
    </div>

</form>